<body data-spy="scroll" data-target=".nav">

<header class="page-header" id="topheader">
  <div class="navbar-static">
    <div class="navbar-inner"> 
       <ul class="inline"> 
        <li>
         <div class="logo-home">
          <h3>Anvil Aerospace</h3>
         </div>
        </li> 
        <li class="nav-item"><a href="#" class="ships-item lead">Ships</a>  
        </li>  
        <li class="nav-item"><a href="#" class="Hardware-item lead">Hardware</a>  
        </li>
        <li class="login">
          <input class="span2" type="text" placeholder="username">  
          <button type="submit" class="btn btn-success">Sign in</button>
        </li>  
        </li>  
       </ul>
   </div>    
  </div>  
</header>   

<div id="carousel" class="carousel slide carousel-fade">
  
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div id="signup-carousel" class="span5 signup-form">
       <form class="signup">
        <fieldset>
          <legend class="form-title lead">Sign up today and<br>find your perfect doctor.</legend>
          <input id="email" class="span4" type="text" placeholder="E-mail address"> 
          <div class="row">  
           <input class="span2" id="password" type="Password" placeholder="Password"></input>
           <input class="span2" id="confirm-password" type="password" placeholder="Confirm Password"></input> 
          </div> 
          <button id="signup-btn" class="span4 btn btn-primary">Sign Up Now, it's free!</button>  
        </fieldset>  
       </form>
     </div>
     
    <div class="video-pane">
      <img class="img-polaroid"></img>
     <div class="social-tags">
       <ul class="inline">
         <li><a href="#" class="icon-twitter"></a></li>
         <li><a href="#" class="icon-facebook"></a></li>
         <li><a href="#"><img src="http://www.gplusinfo.com/wp-content/uploads/2012/02/google-Plus-icon.png" height="40px" width="40px"></img></a></li>
         <li><a href="#"><img src="http://developer.linkedin.com/sites/default/files/LinkedIn_Logo60px.png" height="50px" width="50px"></img></a></li>
       </ul>  
     </div>
    </div>   
         
    </div>
    
    
    <div class="item"></div>
    
    
    <div class="item"></div>
  </div>
  
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel" data-slide="prev"><i id="left-chevron" class="icon-chevron-left icon-large"></i></a>
  <a class="carousel-control right" href="#carousel" data-slide="next"><i id="right-chevron" class="icon-chevron-right icon-large"></i></a>
</div>
    
<!-- page content nav bar -->
<header id="page-content-nav">
<div class="pagebar" id="page-nav">
 <nav>
  <ul class="nav lead inline"> 
    <li><a href="#whoweare">Who We Are</a></li>
    <li><a href="#whatwedo">What We Do</a></li>
    <li><a href="#joinus">Join Us</a></li>
    <li><a href="#latestnews">Latest News</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
 </nav>  
</div>  
</header> 

<div class="section-a" id="#whoweare">
</div>

<div class="section-b" id="#whatwedo">
</div>  
    
<div class="section-a" id="#joinus">
</div> 
    
<div class="section-b" id="#latestnews">
</div>  
    
<div class="section-a" id="#contact">
</div>

<footer>
  <p class="credits">&copy;2013 Empathyze <a href="#" title="Empathyze">All Rights Reserved</a></p>
</footer>  
    
</body>
